<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    <title>Home</title>
    <style>
        .h-100vh {
            min-height: 100vh;
        }

        .font-60 {
            font-size: 60px;
        }

        .font-bold {
            font-weight: bold;
        }

        .home-left {
            padding: 0 100px;
        }

        .p-100 {
            padding: 100px;
        }

        @media (max-width: 768px) {
            .home-right {
                display: none;
            }

            .p-100 {
                padding: 100px 0;
            }

            .home-left {
                padding: 0 20px;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" aria-current="page" href="/">Sekolah</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'guru' %}">GURU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'siswa' %}">SISWA</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <section class="Container-fluid bg-light">
        <section class="Container-fluid bg-light" id="home">
            <div class="row  align-items-center h-100vh">
                <div class="col-md-6 home-left">
                    <h2 class="fond-55">SEKO<span class="text-55 text-danger">LAH</span>
                    </h2>
                    <!-- <P>seorang development<span class="text-55">
                            pemula dan tahap
                            pembelajaran</span>
                    </P> -->
                </div>
                <div class="col-md-6 home-right text-center">
                    <img src="{% static 'img/go.jpg' %}" width="50%" alt="">
                </div>
            </div>
        </section>
    </section>
    <script src="{% static 'js/bootstrap.bundle.js' %}">
    </script>
</body>
<html>